---
layout: default
title: Councils
stylesheets: 
    - content.css
    - councils.css
scripts:
    - utils.js
    - councils.js
---

<div id="title" class="open">
    <h1>Councils</h1>
    <p>{{ site.data.paragraphs.councils_intro }}</p>
</div>

<div id="content">
    <div class="content__background"></div>

    {% for council in site.councils %}
        
    <div class="council">
        
        {% for i in (0..1) %}

        <div class="council__slide council__image">
            <img src="{{ site.baseurl }}/assets/img/groups/{{ council.image_name }}" alt="">
        </div>
        <div class="council__slide council__writeup">
            <p>{{ council.excerpt }}</p>
        </div>
        <div class="council__slide council__title">
            <div class="council__title--flip">
                <div class="council__title--short">{{ council.name_short }}</div>
                <div class="council__title--full">
                    <p>{{ council.name }}</p>
                    <a href="{{ site.baseurl}}{{ council.url }}">
                        {% include button.html content="Read more" %}
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}

        <div class="council__slide council__image">
            <img src="{{ site.baseurl }}/assets/img/groups/{{ council.image_name }}" alt="">
        </div>

    </div>

    {% endfor %}

    

</div>