---
layout: default
title: Councils
stylesheets: 
    - content.css
    - councils.css
---


<div id="container">
    <div id="title" class="open">
        <div id="title__content">
            <h1>The Executive Board</h1>
            <p>{{ site.data.paragraphs.councils_intro }}</p>
        </div>
        <div id="title__border">
            <div id="title__border__top">
                <img src="{{ site.baseurl }}/assets/img/title_edge.png" alt="" />
            </div>
            <div id="title__border__middle"></div>
            <div id="title__border__bottom">
                <img src="{{ site.baseurl }}/assets/img/title_edge.png" alt="">
            </div>
        </div>
    </div>
    <div id="content">
        <div class="council">
            {% for i in (0..1) %}

            {% for council in site.councils %}
            
            <div class="council__slide council__title">
                <div class="council__title--flip">
                    <div class="council__title--short" style="background-image: url({{ site.baseurl }}/assets/img/groups/{{ council.image_name }})">
                        {{ council.name_short }}
                    </div>
                    <div class="council__title--full">
                        <p>{{ council.name }}</p>
                        <a href="{{ site.baseurl }}{{ council.url }}">
                            {% include button.html content="Read more" %}
                        </a>
                    </div>                  
                </div>

            </div>
        
            {% endfor %}

            {% endfor %}
        
        </div>
        
    </div>

    
    <div class="bar bar--right">
        <div class="bar__top">
            <img src="{{ site.baseurl }}/assets/img/edge.png" alt="">
        </div>
        <div class="bar__middle bar__middle--transparent"></div>
        <div class="bar__bottom">
            <img src="{{ site.baseurl }}/assets/img/edge.png" alt="">
        </div>
    </div>
</div>

