---
layout: default
title: Organising Committees
stylesheets: 
    - content.css
    - org_comms.css
---


<div id="container">
    <div id="title">
        <div id="title__content">
            <h1>Organising Committee</h1>
            {{ site.data.paragraphs.org_committees_intro | markdownify }}
        </div>
    </div>

    <div id="content">

        {% for comm in site.org_committees %}

        <div class="council" style="background-image: url({{ site.baseurl }}/assets/img/groups/{{ comm.image_name }})">
            <div class="council__name">
                <div class="council__name__long">
                    {{ comm.group_name }}
                </div>
                <a href="{{ site.baseurl }}{{ comm.url }}">
                    {% include button.html content="Read more" classes="council__link" %}
                </a>
            </div>
        </div>

        {% endfor %}
        
        
    </div>

</div>

