---
layout: content
title: Schedule
stylesheets:
    - schedule.css
---

{% include titlebar.html title=page.title %}

<div class="wrapper">
    <ul class="schedule">

        {% for day in site.data.schedule %}
        <li class="schedule__day">
            
            <div class="schedule__day__title" data-date="{{ day.date }}">
                <h2>{{ day.date | date_to_string }}</h2>
            </div>
            
            <ul class="schedule__day__events">
                {% for event in day.events %}
                <li class="schedule__day__event" data-time="{{ event.time }}">
                    <p><span class="schedule__time">{{ event.time }}</span> {{ event.event }}</p>
                </li>
                {% endfor %}
            </ul>

        </li>
        
        {% endfor %}

        <li class="schedule__day">
            
            <div class="schedule__day__title">
                <h2>End of DHAP 2019</h2>
            </div>
        </li>
        
    </ul>
</div>

