<header>

    <a href="{{ site.baseurl }}/">
        <div id="logo"></div>
    </a>
    
    <div id="header__title">
        <h1>Dunman High ASEAN Plus</h1>
    </div>

    <div id="toggle">
        <div class="menu-line" id="menu-line-1"> </div>
        <div class="menu-line" id="menu-line-2"> </div>
        <div class="menu-line" id="menu-line-3"> </div>
    </div>
    
    <nav id="nav">
       <div class="nav-button">
            <a href="{{ site.baseurl}}/about.html">
                <div class="nav-button__title">About</div>
            </a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/about.html">
                    <div class="nav-link nav-link__about">The Conference</div>
                </a>
                <a href="{{ site.baseurl }}/about.html#faqs">
                    <div class="nav-link nav-link__about">FAQs</div>
                </a>
                <a href="{{ site.baseurl }}/about.html#directions">
                    <div class="nav-link nav-link__about">Directions</div>
                </a>
            </div>
        </div>

        <div class="nav-button">
            <a href="{{ site.baseurl }}/councils.html">
                <div class="nav-button__title">Councils</div>
            </a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/councils.html" class="mobile-only">
                    <div class="nav-link">Overview</div>
                </a>
                {% for council in site.councils %}
                <a href="{{ site.baseurl }}{{ council.url }}">
                    <div class="nav-link">{{ council.name_short }}</div>
                </a>    
                {% endfor %}
            </div>
        </div>

        <div class="nav-button">
            <a href="{{ site.baseurl }}/org_comms.html">
                <div class="nav-button__title">Organising Committees</div>
            </a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/org_comms.html" class="mobile-only">
                    <div class="nav-link">Overview</div>
                </a>
                {% for comm in site.org_committees %}
                <a href="{{ site.baseurl }}{{ comm.url }}">
                    <div class="nav-link">{{ comm.name }}</div>
                </a>    
                {% endfor %}
            </div>
        </div>

        <div class="nav-button nav-button--no-menu">
            <a href="{{site.baseurl}}/schedule.html">
                <div class="nav-button__title">Schedule</div>
            </a>
        </div>

        <div class="nav-button nav-button">
            <a href="{{site.baseurl}}/contact.html">
                <div class="nav-button__title">Contact</div>
            </a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/contact.html" class="mobile-only">
                    <div class="nav-link">Contact Details</div>
                </a>
                <a href="{{ site.baseurl }}/registration.html">
                    <div class="nav-link">Registration</div>
                </a>    
            </div>
        </div>
        
    </nav>


</header>