<header>

    <a href="{{ site.baseurl }}/" id="logo">
        <picture>
            <source srcset="{{ site.baseurl }}/assets/img/logo.webp" type="image/webp">
            <source srcset="{{ site.baseurl }}/assets/img/logo.png" type="image/png">
            <img src="{{ site.baseurl }}/assets/img/logo.png" alt="DHAP logo"/>
        </picture>
    </a>
    
    <a href="{{ site.baseurl }}/">
        <div id="header__title">
            <h1>DHAP 2019</h1>
        </div>
    </a>

    <div id="toggle">
        <svg width="20" height="15" version="1.1" viewBox="0 0 5.2916665 4.1600955" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(0 -291.41)" fill="none" stroke="#fff" stroke-width=".44348">
                <path d="m0 291.63h5.2917"/>
                <path d="m0 295.34h5.2917"/>
                <path d="m0 293.49h5.2917"/>
            </g>
        </svg>

    </div>
    
    <nav id="nav">
        <div id="close">
            <svg width="20" height="20" version="1.1" viewBox="0 0 5.2916666 5.2916668" xmlns="http://www.w3.org/2000/svg">
                <g transform="translate(0 -291.71)" fill="none">
                    <path d="m0 297 5.2917-5.2917" stroke-linecap="round" stroke-width=".265"/>
                    <path d="m0 291.71 5.2917 5.2917" stroke-width=".26458px"/>
                </g>
            </svg>

        </div>

        <div class="nav__logo">
            <a href="{{ site.baseurl }}/">
                <picture>
                    <source srcset="{{ site.baseurl }}/assets/img/logo.webp" type="image/webp">
                    <source srcset="{{ site.baseurl }}/assets/img/logo.png" type="image/png">
                    <img src="{{ site.baseurl }}/assets/img/logo.png" alt="DHAP logo"/>
                </picture>
            </a>
        </div>

        <div class="nav-button">
            <a href="{{ site.baseurl }}/about.html">
                <div class="nav-button__title">About</div>
            </a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/welcome_address.html">
                    <div class="nav-link">Welcome Address</div>
                </a>
                <a href="{{ site.baseurl }}/about.html">
                    <div class="nav-link">About DHAP</div>
                </a>
                <a href="{{ site.baseurl }}/secretariat.html">
                    <div class="nav-link">The Secretariat</div>
                </a>
            </div>
        </div>

        <div class="nav-button">
            <a href="{{ site.baseurl }}/councils.html">
                <div class="nav-button__title">The Executive Board</div>
            </a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/councils.html" class="mobile-only">
                    <div class="nav-link">Overview</div>
                </a>
                {% for council in site.councils %}
                    {% if council.group_name != "Special Programmes" %}
                    <a href="{{ site.baseurl }}{{ council.url }}">
                        <div class="nav-link">{{ council.name_short }}</div>
                    </a>
                    {% endif %}
                {% endfor %}
                    
                <a href="{{ site.baseurl }}/councils/special_programmes.html">
                    <div class="nav-link">Special Programmes</div>
                </a>
            </div>
        </div>

        <div class="nav-button">
            <a href="{{ site.baseurl }}/org_comm.html">
                <div class="nav-button__title">Organising Committee</div>
            </a>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/org_comm.html" class="mobile-only">
                    <div class="nav-link">Overview</div>
                </a>
                {% for comm in site.org_committees %}
                <a href="{{ site.baseurl }}{{ comm.url }}">
                    <div class="nav-link">{{ comm.group_name }}</div>
                </a>    
                {% endfor %}
            </div>
        </div>

        <div class="nav-button nav-button--no-menu">
            <a href="{{site.baseurl}}/schedule.html">
                <div class="nav-button__title">Schedule</div>
            </a>
        </div>

        <div class="nav-button nav-button--no-menu">
            <a href="{{site.baseurl}}/delegate_resources.html">
                <div class="nav-button__title">Delegate Resources</div>
            </a>
        </div>
        
        <div class="nav-button nav-button--no-menu">
            <a href="{{ site.baseurl }}/registration.html">
                <div class="nav-button__title">Registration</div>
            </a>    
        </div>

        <div class="nav-button nav-button--no-menu">
            <a href="{{ site.baseurl }}/contact.html">
                <div class="nav-button__title">Contact Us</div>
            </a>    
        </div>

        <div class="nav-button nav-button--no-menu">
            <a href="{{ site.baseurl }}/faq.html">
                <div class="nav-button__title">FAQs</div>
            </a>    
        </div>
        
    </nav>


</header>