.button {
    background: var(--accent2);
    padding: 10px;
    color: #eee;
    font-family: "Roboto Slab";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vh;
    user-select: none;
    cursor: pointer;
}