---
---

/**
 * Initialise color vars, as well as other defaults
 * these are given as R,G,B triplets instead of normal #hex colors,
 * to facilitate using them with rgba().
 * to use as rgb:
 * rgb(var(--base1));
 * to use as rgba:
 * rgba(var(--base1), <alpha>);
 */

:root {
    /* Darkest base color, used for overall site backgrounds? */
    --base1: 0,34,101;
    /* Slightly lighter base color, used for button backgrounds? */
    --base2: 77, 101, 153;
    /* Much lighter base color, used for text background */
    --base3: 231, 251, 255;
    /* Lighter accent color, for inline links */
    --accent1: 247, 158, 118;
    /* More intense accent, for highlighted blocks */
    --accent2: 199, 59, 31;
}

@font-face {
    font-family: "Florence";
    src: url({{ site.baseurl }}/assets/css/Florence-Regular.ttf);
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: var(--base1);
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: sans-serif;
}

main {
    width: 100vw;
}