.content {
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    text-align: left;
}

.content p {
    font-size: 14pt;
}

.content p > span {
    font-weight: bold;
    font-family: "Florence";
    font-style: normal;
}

strong {
    color: rgb(var(--accent2));
    font-weight: normal;
}