---
---
main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bar {
    width: 10vw;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.bar__middle {
    background-image: url({{ site.baseurl }}/assets/img/side.png);
    background-repeat: repeat-y;
    background-size: contain;
    height: 50vh;
    background-position: top left;
    width: 100%;
    flex-grow: 1;
    display: block;
}

.bar__top {
    height: auto;
    transform: scaleY(-1);
}

.bar__top img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.bar__bottom {
    height: auto;
}

.bar__bottom img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.bar--left {
    transform: scaleX(-1);
}

article.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    font-size: 15pt;
    font-family: serif;
    width: 95vw;
    padding-left: 5vw;
    padding-right: 5vw;
    background: #E4C4B9;
    font-family: "Montserrat";

}


article.content h1, article.content h2, article.content h3 {
    font-family: "Florence";
    margin-bottom: 0px;
    font-weight: normal;
}

article.content h1 {
    font-size: 10vmin;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(var(--accent2));
}

article.content a {
    color: rgb(var(--accent2));
    text-decoration: underline;
}

hr {
    width: 100%;
    border-color: rgb(var(--accent2));
}

div.content__background {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background-image: linear-gradient(rgba(var(--base1), 0.8), rgba(var(--base1), 0.8)), url({{ site.baseurl }}/assets/img/{{ page.background }});
    background-blend-mode: normal;
    filter: brightness(50%);
    z-index: -6;
}

@media screen and (max-width: 1000px) {
    article.content {
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}