---
---
main {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: var(--base1);
}

.bar {
    width: 10vw;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.bar__middle {
    background-image: url({{ site.baseurl }}/assets/img/side.png);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: top left;
    width: 100%;
    flex-grow: 1;
}

.bar__top {
    height: auto;
    transform: scaleY(-1);
    font-size: 0;
}

.bar__top img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.bar__bottom {
    height: auto;
}

.bar__bottom img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.bar--left {
    transform: scaleX(-1);
}

article.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    font-size: 15pt;
    font-family: serif;
    width: 80vw;
    padding-left: 5vw;
    padding-right: 5vw;
    background: #E4C4B9;
    font-family: "Montserrat";
    box-shadow: 0 0 2vh 0.25vh #222;
    z-index: 3;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media screen and (max-width: 1000px) {
    article.content {
        width: 75vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .bar--left {
        display: none;
    }
    
    .bar--right {
        width: 15vw;
    }
}


article.content h1, article.content h2, article.content h3 {
    font-family: "Florence";
    margin-bottom: 0px;
    font-weight: normal;
}

article.content h1 {
    font-size: 10vmin;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(var(--accent2));
}

article.content a {
    color: rgb(var(--accent2));
    text-decoration: underline;
}

hr {
    width: 100%;
    border-color: rgb(var(--accent2));
}