---
---

#logo {
    width: 10vh;
    height: 10vh;
    align-self: center;
}


#container {
    width: 100%;
    height: auto;
    display: flex;
}


#title {
    width: 30vw;
    height: auto;
    background: var(--base1);
    z-index: 10;
    color: #eee;
    display: flex;
    flex-direction: row;
    text-align: center;
    /*background: var(--base3);*/
    background: url({{ site.baseurl }}/assets/img/title_background.png);
    background-size: cover;
    box-shadow: 0 0 1vw 0.25vw #222;
}

#title__content {
    padding: 3vw;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    overflow-y: auto;
}

#content {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: wrap;
    position: relative;
    width: 70vw;
    z-index: 0;
}

.council {
    width: 32.5vw;
    min-width: 500px;
    height: 35vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 1vh 0.25vh #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    transition: all 0.5s ease-out;
}

.council__name {
    width: 50%;
    height: auto;
    font-size: 20pt;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.council__name__long {
    transform: translateY(calc(5vh + 10px));
    transition: all 0.5s ease-out;
    margin-bottom: 1vh;
}

.council .council__link {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.council:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.council:hover .council__name__long {
    transform: translateY(0px);
}

.council:hover .council__link {
    opacity: 1;
    transition: all 0.5s ease-out 0.5s;
    visibility: visible;
}

@media screen and (max-width: 1000px) {
    #container {
        height: auto;
        flex-direction: column;
    }

    #title {
        width: 100vw;
        padding-top: 10vh;
        padding-bottom: 5vh;
        height: auto;
        align-items: flex-start;
        position: relative;
        transform: none;
        color: #eee;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 90%, rgba(0, 0, 0, 0));
        box-shadow: none;
    }

    #title__arrow {
        display: none;
    }

    #content {
        width: 100%;
        padding: 0;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    .council {
        width: 70%;
        min-width: 0px;
        height: 40vh;
    }

    .council__name {
        height: 40vh;
        width: 90%;
    }

}