.person {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
}

.person:nth-child(odd) {
    flex-direction: row;
    text-align-last: left;
}

.person:nth-child(even) {
    flex-direction: row-reverse;
    text-align-last: right;
}

.person__image {
    flex-basis: 20%;
    margin-left: 1vw;
    margin-right: 1vw;
}

.person__image > img {
    width: 100%;
    /*border-radius: 50%;*/
}

.person__description {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

article.content .person__description > h2 {
    width: auto;
    text-align: center;
}

.person__description > h3 {
    margin-top: 0px;
    font-size: 15pt;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .person {
        flex-direction: column;
        align-items: center;
    }

    .person:nth-child(odd) {
        flex-direction: column;
        text-align-last: center;
    }

    .person:nth-child(even) {
        flex-direction: column;
        text-align-last: center;
    }
    .person__image {
        width: 30vw;
    }

}