---
---
header {
    height: 15vh;
    display: flex;
    align-items: center;
    color: #222;
}


#logo {
    width: 9vw;
    height: auto;
    align-self: flex-start;
    margin-left: 0.5vw;
}

#logo img {
    width: 100%;
    height: auto;
}



#header__title {
    font-family: "LemonMilk";
    margin-left: 1vw;
    transition: padding-left 0.5s ease-in-out;
    letter-spacing: 2px;
}


a {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}


nav {
    display: flex;
    height: 10vh;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    overflow-x: visible;
    flex-grow: 1;
    padding-right: 10vw;
}

.nav-button {
    font-family: "LemonMilk";
    cursor: pointer;
    user-select: none;
}


#toggle {
    display: none;
}

.nav-button {
    height: 10vh;
    width: auto;
    overflow-x: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2vw;
    position: relative;
}

.nav-button__title {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 10pt;
    transition: color 0.2s ease-in-out;
}

.nav-button:hover {
    color: #ccc;
}

.dropdown-content {
    height: auto;
    width: auto;
    min-width: 10vw;
    white-space: nowrap;
    text-align: left;
    position: absolute;
    top: 7vh;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1em);
    /*box-shadow: 0px 0px 2.5vh 0.5vh #222;*/
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}


.nav-link {
    text-transform: uppercase;
    padding: 1vw;
    width: auto;
    background-color: #eee;
    color: #222;
    /*color: var(--base2);*/
}


.nav-link:hover {
    background-color: #ccc;
}

.dropdown-content a.mobile-only {
    display: none;
}


main {
    z-index: -5;
}

.nav__logo {
    display: none;
}

@media screen and (min-width: 1001px) {
    
    .nav-button:hover .dropdown-content {
        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 3;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
    }

}


@media only screen and (max-width: 1000px) {
    header {
        width: auto;
        height: 12vh;
        display: flex;
    }


    #logo {
        display: none;
    }



    #header__title {
        font-size: 2vh;
        display: flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        margin-left: 7.5vw;
    }

   

    nav {
        display: block;
        width: 100vw;
        left: 0vw;
        top: 0px;
        transform: translateX(100vw);
        height: 100vh;
        position: fixed;
        background: url({{ site.baseurl }}/assets/img/title_background.png);
        background-size: auto 100vh;
        transition: transform 0.25s ease-in-out;
        padding-right: 1vw;
        z-index: 999;
        overflow: auto;
        overflow-x: hidden;
    }

    .nav__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__logo img {
        width: 30vw;
    }

    nav.open {
        transform: translateX(0);
    }

    .nav-button {
        width: 100%;
    }

    .nav-button > a {
        width: 100%;
    }

    main, header {
        transition: transform 0.25s ease-in-out,
                    filter 0.25s ease-in-out;
    }

    main.shifted, header.shifted {
        filter: brightness(75%);
        /*transform: translateX(-90vw);*/
    }

    #toggle {
        display: block;
        height: 10vh;
        width: 20vw;
        margin-left: auto;
        background: url({{ site.baseurl }}/assets/img/menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5vw;
    }


    #close {
        background: url({{ site.baseurl }}/assets/img/close.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 5vw;
        width: 20vw;
        margin-left: auto;
        height: 10vh;
        display: flex;
    }

    .nav-button {
        height: auto;
        color: #eee;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
    }

    .nav-button__title {
        width: auto;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20pt;
    }

    .nav-button:hover {
        color: #eee;
    }

    .dropdown-content a.mobile-only {
        display: block;
    }

    .dropdown-content {
        position: relative;
        top: 0; left: 0;
        transform: none;
        width: 100%;
        visibility: visible;
        opacity: 1;
    }

    .dropdown-content .nav-link {
        height: 0;
        padding: 0;
        font-size: 0;
        line-height: 0px;
        background: rgba(0, 0, 0, 0.4);
        color: rgba(250, 250, 250, 0);
        opacity: 0;
        transition: 
            all 0.25s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-content.open .nav-link {
        opacity: 1;
        height: 10vh;
        font-size: 14pt;
        line-height: initial;
        color: rgba(250, 250, 250, 1);
        transition: 
            all 0.25s ease-in-out, 
            color 0.25s ease-in-out 0.25s;
    }

    body {
        transition: max-height 0.02s ease-in-out 0.5s;
    }

    body.noscroll {
        max-height: 100vh;
        overflow-y: hidden;
    }

}
