---
---

body > header {
    z-index: 100;
    background-color: #fff;

    position: fixed;
    margin-top: 0;
    height: 7.5vh;
    width: 100vw;
    display: flex;
    transition: background-color 0.5s ease-in-out;
}

body > header.logo--expanded {
    background-color: var(--base1);
    color: #eee;
}

#logo {
    background: url({{ site.baseurl }}/assets/img/logo.png);
    background-size: cover;
    background-position: center;
    width: 7.5vh;
    height: 7.5vh;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out
}

body > header.logo--expanded #logo {
    width: 9vw;
    height: 9vw;
}

#header__title {
    padding-left: calc(9vw - 7.5vh);
    transition: padding-left 0.5s ease-in-out;
}

body > header.logo--expanded #header__title {
    padding-left: 0;
}

a {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}


nav {
    display: flex;
    height: 7.5vh;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    overflow-x: visible;
    flex-grow: 1;
}

.nav-button {
    font-family: "Roboto Slab";
    cursor: pointer;
    user-select: none;
}


#toggle {
    display: none;
}

.nav-button {
    border-right: 5px solid var(--accent1);
    height: 7.5vh;
    width: 10vw;
    overflow-x: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: inherit;
}

.nav-button__title {
    height: 7.5vh;
    width: 9vw;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-right: 1vw;
    align-items: center;
    font-size: 14pt;
}

.dropdown-content {
    height: auto;
    width: auto;
    min-width: 10vw;
    white-space: nowrap;
    text-align: right;



    visibility: hidden;
    opacity: 0;
    transform: translateY(-2em);
    /*box-shadow: 0px 0px 2.5vh 0.5vh #222;*/
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}


.nav-link {
    text-transform: uppercase;
    padding: 1vw;
    border-bottom: 5px var(--accent1) solid;
    width: auto;
    background-color: #fff;
    color: #222;
    /*color: var(--base2);*/
}

.nav-link::before {
    content: "↪ ";
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}


.nav-link:hover::before {
    opacity: 1;
}

.dropdown-content a.mobile-only {
    display: none;
}


main {
    z-index: -5;
    padding-top: 7.5vh;
}

@media screen and (min-width: 1001px) {
    
    .nav-button:hover .dropdown-content {
        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 3;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
    }

}


@media only screen and (max-width: 1000px) {
    body > header {
        width: auto;
        height: 12vh;
        display: flex;
    }


    #logo {
        left: 0px; right: 0px;
        height: 12vh;
        width: 12vh;
    }

    body > header.logo--expanded #logo {
        width: 12vh;
        height: 12vh;
    }


    #header__title {
        font-size: 2vh;
        display: flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        padding-left: 1vw;
        width: calc(95vw - 17vh);
    }

    body > header.logo--expanded #header__title {
        padding-left: 1vw;
    }

    nav {
        display: block;
        position: fixed;
        width: 69vw;
        left: 30vw;
        top: 12vh;
        height: 90vh;
        overflow-y: scroll;
        border-bottom: 5px solid var(--accent1);
        background: url({{ site.baseurl }}/assets/img/title_background.png);
        transform: translateX(70vw);
        transition: transform 0.5s ease-in-out;
        padding-right: 1vw;
    }



    .nav-button {
        width: 100%;
    }

    .nav-button > a {
        width: 100%;
    }

    main {
        transition: transform 0.5s ease-in-out,
                    filter 0.5s ease-in-out;
        padding-top: 12vh;
    }

    main.main--shifted {
        transform: translateX(-70vw);
        filter: brightness(75%);
    }

    #toggle {
        height: 8vh;
        width: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        margin-left: auto;
        padding-right: 5vw;
    }


    #toggle .menu-line {
        width: 20px;
        height: 2px;
        background: #222;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    body > header.logo--expanded #toggle .menu-line {
        background: #eee;
    }

    .dropdown-content {
        transform: none;
        overflow: hidden;
        height: auto;
        width: 100%;
        visibility: visible;
        opacity: 1;
        display: none;
        flex-direction: column;
        justify-content: flex-end;
    }

    .dropdown-content a.mobile-only {
        display: block;
    }

    nav.open {
        transform: none;
    }
    .dropdown-content.open {
        width: 100%;
        display: flex;
    }

    .nav-button {
        height: auto;
        color: #eee;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2vh;
    }

    .nav-button__title {
        width: auto;
        height: 10vh;
    }

    .nav-link {
        height: 10vh;
        background: rgba(0, 0, 0, 0.4);
        color: #eee;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

}
