body > header {
    z-index: 10;
    background: rgb(var(--base1));
    position: fixed;
    margin-top: 0;
    height: 10vh;
    width: 100vw;
}

nav {
    background: rgb(var(--base1));
}

a {
    color: #eee;
    text-decoration: none;
}

.nav-button {
    color: #eee;
    background: rgb(var(--base2));
    font-size: 14pt;
    cursor: pointer;
    user-select: none;
    /*filter: brightness(85%);*/
}


.nav-link {
    text-transform: uppercase;
    padding: 5%;
    border-bottom: 5px rgb(var(--accent1)) solid;
    background: rgb(var(--base2));
    color: #ddd;
}

@media only screen and (max-width: 899px) {

    body > header {
        box-shadow: 0px 0px 5vh 1vh #222;
    }

    nav {
        display: block;
        height: 0vh;
        overflow-y: scroll;
        z-index: 1000;
        border-bottom: 5px solid rgb(var(--accent1));
        transition: height 0.5s ease-in;
    }


    #toggle {
        height: 8vh;
        width: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        margin-left: auto;
        margin-right: 5vw;
        padding-right: 0px
    }

    #toggle .menu-line {
        width: 20px;
        height: 2px;
        background: white;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .nav-button {
        height: auto;
        padding: 1vh;
        border-bottom: rgb(var(--base2)) 2px solid;
        background: rgb(var(--base1));
        cursor: auto;
    }

    .nav-button:last-child {
        border-bottom: none;
    }

    .dropdown-content {
        overflow: hidden;
        height: auto;
        display: none;
        transform-origin: top;
        width: 100%;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    nav.open {
        height: 90vh;
        padding-bottom: 20vh;
    }

    nav.open > .nav-button:last-child {
        margin-bottom: 20vh;
    }

    .dropdown-content.open {
        height: auto;
        display: block;
        width: 100%;
    }

}

@media only screen and (min-width: 900px) {
    #toggle {
        display: none;
    }

    nav {
        --button-width: 10vw;

        display: flex;
        width: 100vw;
        height: 10vh;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        overflow-x: visible;
    }


    .nav-button {
        border-right: 0.125vw solid rgb(var(--accent1));
        border-left: 0.125vw solid rgb(var(--accent1));
        /*margin-left: 1vw;*/
        height: 10vh;
        /*margin-right: 1vw;*/
        flex-grow: 1;
    }

    .nav-button__title {
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
    }

    .nav-button:last-child {
        border-right: 0.5vw solid rgb(var(--base2));
    }
    .nav-button:first-child {
        border-left: 0.5vw solid rgb(var(--base2));
    }

    .dropdown-content {
        height: auto;
        width: 100%;

        visibility: hidden;
        opacity: 0;
        z-index: 2;
        transform: translateY(-2em);
        flex-grow: 0;

        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

    }

    .nav-button:hover .dropdown-content {
        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 3;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
    }
}

main {
    z-index: -5;
    padding-top: 10vh;
}