---
---

section {
    width: 100vw;
    background: var(--base3);
}


#hero {
    height: 90vh;
    width: 100%;
    background-image: url({{ site.baseurl }}/assets/img/leaves-3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end; 
}

#hero .container {
    background-image: url({{ site.baseurl }}/assets/img/olive-branch-3.png);
    background-size: cover;
    background-position: center;
    height: 22vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    animation: wipe 2s;
    overflow-x: hidden;
    flex-wrap: none;
}

@keyframes wipe {
    from {transform: translateX(-40vw);}
    to {transform: none;}
}

#countdown {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.container * {
    animation: fade 4s;
    
}

@keyframes fade {
    from {opacity: 0;}
    50% {opacity: 0;}
    to {opacity: 1;}
}



.countdown-digits {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    color: #eee;
    background: rgba(90, 90, 90, 0.8);
    border-radius: 1vw;
    padding: 1vh;
    text-transform: uppercase;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}



.countdown-digits span {
    font-size: 50pt;

}

#countdown-over {
    display: none;
    text-align: center;
    background: rgba(204, 204, 204, 0.6);
    font-size: 50pt;
    border-radius: 10px;
}

#subtitle {
    background: rgba(204, 204, 204, 0.6);
    border-radius: 10px;
    font-size: 30pt;
    margin-top: 3vh;
    padding: 1vh;
}