---
---

section {
    width: 100vw;
}


#hero {
    height: 90vh;
    width: 100%;
    background-image: url({{ site.baseurl }}/assets/img/leaves-4.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/**
 * Countdown styles
 */
#countdown-container {
    background-image: none;
    background: rgba(var(--base1), 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
    animation: leaf-wipe 2s ease-in-out;
    overflow-x: hidden;
    flex-wrap: none;
}

@keyframes leaf-wipe {
    from {transform: translateX(-40vw);}
    to {transform: none;}
}

#countdown {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

#countdown-container * {
    /*                        v delay the animation for 2s */
    animation: fade 0.5s linear 2s;
    animation-fill-mode: both;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.countdown__digits {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    color: #eee;
    border-radius: 1vw;
    padding: 1vh;
    text-transform: uppercase;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}



.countdown__digits span {
    font-size: 70pt;

}

#countdown__over {
    display: none;
    text-align: center;
    background: rgba(204, 204, 204, 0.6);
    font-size: 50pt;
    border-radius: 10px;
}

#countdown__subtitle {
    background: rgba(204, 204, 204, 0.6);
    border-radius: 10px;
    font-size: 30pt;
    margin-top: 3vh;
    padding: 1vh;
}

/**
 * Welcome address styles
 */

#welcome-address-container {
    width: 40vw;
    height: 90vh;
    background: rgba(var(--base3), 0.8);
    animation: right-wipe 2s ease-in-out 3s;
    animation-fill-mode: both;
}

#welcome-address {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    animation: fade 0.5s linear 5s;
    animation-fill-mode: both;
    height: 80vh;
    overflow-y: auto;
}


#welcome-address__scroll-prompt {
    display: none;
}

.welcome-address__title {
    display: block;
    background: rgb(var(--accent1));
    width: auto;
    height: auto;
    padding-left: 1vw;
    padding-right: 1vw;
}


@keyframes right-wipe {
    from { transform: translateX(60vw); opacity: 0.3;}
    to { transform: translateX(0); opacity: 1;}
}

@media screen and (max-width: 1000px) {
    #hero {
        display: block;
        position: relative;
        height: auto;
        background-image: url({{ site.baseurl }}/assets/img/leaves-2.png);
        background-size: auto 100vh;
        background-repeat: no-repeat;
        background-position: center top;
        animation: prevent-scroll 0.2s linear 5s;
        animation-fill-mode: both;
        padding-top: 20vh;
    }

    @keyframes prevent-scroll {
        from { max-height: 90vh; overflow-y: hidden; }
        to { max-height: none; }
    }

    #countdown-container {
        background-size: 80vw;
        background-position: left center;
        animation: leaf-wipe 1s ease-in-out 1s;
        animation-fill-mode: both;
        width: 80vw;
        height: 56vw;
    }

    #countdown-container * {
        animation: fade 0.5s linear 2s;
        animation-fill-mode: both;
    }

    #countdown {
        justify-content: center;
    }

    #countdown__minutes {
        display: none;
    }

    .countdown__digits {
        margin: 1vw;
    }

    @keyframes leaf-wipe {
        from { transform: translateX(-100vw); }
        to { transform: translateX(0); }
    }

    #welcome-address__scroll-prompt {
        position: absolute;
        top: 70vh;
        height: 18vh;
        padding-bottom: 2vh;
        width: 100vw;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        font-size: 20pt;
        background: linear-gradient(to top, rgba(var(--base3), 1), rgba(var(--base3), 0));

        animation: fade 0.5s linear 5s;
        animation-fill-mode: both;
   }


    #welcome-address-container {
        animation: fade 0.5s linear 5s;
        animation-fill-mode: both;
        width: 100vw;
        height: auto;
        margin-top: calc(70vh - 56vw);
        padding-top: 5vh;
        background: rgba(var(--base3), 1);
    }

    #welcome-address {
        margin: 5vw;
        height: auto;

    }

}