---
---

@keyframes slideshow {
    from { transform: translateX(0vw); }
    to { transform: translateX(calc(-180vh - 60vw)); }
}

.council {
    animation-duration: 12s;
}

.council__title--short {
    font-size: 20pt;
}