#progressbar {
    width: 50%;
    height: 7vmin;
    color: #222;
    background: rgb(var(--accent1));
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    #progressbar {
        width: 80%;
    }
}

#progressbar__filled {
    display: inline-block;
    height: 100%;
    width: 0;
    background: rgb(var(--accent2));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: width 0.5s ease-in-out;
}

#progressbar__padding {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}

#progressbar__filled.over_50 {
    justify-content: flex-end;
    color: #eee;
}

#progressbar_filled.over_50 #progressbar__padding {
    width: 0%;
}

#progressbar__label {
    display: inline-block;
    font-size: 7vmin;
    padding-left: 3vw;
    padding-right: 3vw;
}