---
---

#page-title {
    width: 100%;
    padding: 0;
    height: auto;
    min-height: 30vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, var(--base4));
    position: relative;
}

#page-title__gradient {
    width: 100%;
    height: 100%;
    filter: brightness(75%);
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0px; left: 0px;
    z-index: -1;
}

#page-title__content {
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Florence"
}

#page-title__content span {
    font-size: 10vmin;
    color: #fff;
    text-shadow: 0 0 30px #111;
    text-align: center;
    filter: none;
}