<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}">
    {% endfor %}

    <title>{{ page.title }}</title>
</head>
<body>
    {% include header.html %}
    
    <main>
        {{ content }}
    </main>
</body>
</html>