<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/colors.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/button.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/titlebar.css">
    {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}">
    {% endfor %}
    {% for stylesheet in layout.stylesheets %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}">
    {% endfor %}

    <title>
        {% if page.collection == "councils" or page.collection == "org_committees" %}
            {{ page.name }} | DHAP 2019
        {% else %}
            {{ page.title }} | DHAP 2019
        {% endif %}
    </title>
</head>
<body>
    {% include header.html %}

    <main>
        {{ content }}
    </main>


    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/header.js"></script>
    {% for script in page.scripts %}
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ script }}"></script>
    {% endfor %}
</body>
</html>