---
layout: default
stylesheets:
    - content.css
    - group.css
---

{% assign image_name = "groups/" | append: page.image_name %}
{% include titlebar.html title=page.name image=image_name %}

<article class="content">
    {{ page.content }}
    
    {% for person in site.people %}
        {% if person.group == page.name_short %}
            <!-- <img src="{{ site.baseurl}}/assets/img/people/{{ person.image_name }}" alt="{{ person.name }}"> -->
            <h1>{{ person.name }}</h1>
            {{ person.content | markdownify }}
        {% endif %}
    {% endfor %}
</article>