---
layout: content
stylesheets:
    - content.css
    - group.css
---

{% if page.image_name %}
    {% assign image_name = "groups/" | append: page.image_name %}
{% else %}
    {% assign image_name = "" %}
{% endif %}
{% include titlebar.html title=page.group_name image=image_name %}

{{ content }}

{% for person in site.people %}
    {% if person.group == page.name_short %}
        <div class="person">
            <div class="person__image">
                <img src="{{ site.baseurl }}/assets/img/people/{{ person.image_name }}" alt="{{ person.name }}">
            </div>
            <div class="person__description">
                <h2>{{ person.name }}</h2>
                {{ person.content | markdownify }}
            </div>
        </div>
    {% endif %}
{% endfor %}
