---
layout: default
stylesheets:
    - content.css
    - group.css
---

{% assign image_name = "groups/" | append: page.image_name %}
{% include titlebar.html title=page.name image=image_name %}

<article class="content">
    <div class="content__background"></div>
    <div class="group-description">
        {{ page.content }}
    </div>

    <hr>
    
    {% for person in site.people %}
        {% if person.group == page.name_short %}
            <div class="person">
                <div class="person__image">
                    <img src="{{ site.baseurl }}/assets/img/people/{{ person.image_name }}" alt="{{ person.name }}">
                </div>
                <div class="person__description">
                    <h1>{{ person.name }}</h1>
                    {{ person.content | markdownify }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</article>